---
layout: index
title: "天道酬勤"
---

<!-- Loop output paged posts -->
{% for post in paginator.posts %}
<h2>
  最新文章：
  <a href="{{ post.url }}">
    {{ post.title }}
  </a> 
  <div class="post-date">
	<span class="glyphicon glyphicon-time"></span>
	{{ post.date | date:"%Y-%m-%d" }}
  </div>
</h2>
<h1 style="text-align:center;">欢迎来到tzwlwy的blog，这边会不定时更新学习所得</h1>
<br/><em>
经历：
</em><br/>
<br /><em>
2016年毕业，10月份进入上海汇招信息技术有限公司
在黄晶的领导下，思考项目中可能存在的逻辑错误与逻辑不足【功能测试】
<br /><em>
<br/><em>
2017年6月，离职易招标，加入hypereal
在刘林的领导下，一步步完善自动化测试，
学习接口测试，性能测试，CS测试等等,
转入自动化性能测试的范畴【自动化测试】【性能测试】
</em><br/>
<br/><em>
2017年10月，离职hypereal，加入安鲜达
开始探索flask，jmeter等未知区域
</em><br/>
{% endfor %}

<!-- Pager indicator -->
<ul class="pager">
  {% if paginator.previous_page %} {% if paginator.previous_page == 1 %}
  <li class="previous">
    <a href="/">
      &larr; 上一页
    </a>
  </li>
  {% else %}
  <li class="previous">
    <a href="/posts/page{{ paginator.previous_page }}/index.html">
      &larr; 上一页
    </a>
  </li>
  {% endif %} {% endif %} {% if paginator.next_page %}
  <li class="next">
    <a href="/posts/page{{ paginator.next_page }}/index.html">
      下一页 &rarr;
    </a>
  </li>
  {% endif %}
</ul>